<h1>Meu Cadastro</h1>
<b>{{mensagem}}</b><br>
Nome: <input type="text" [(ngModel)]="obj.nome"><br>
E-mail:<input type="email" [(ngModel)]="obj.email"><br>
Telefone:<input type="text" [(ngModel)]="obj.telefone"><br>
Rua:<input type="text" [(ngModel)]="obj.logradouro"><br>
CEP:<input type="text" [(ngModel)]="obj.cep"><br>
Cidade:<input type="text" [(ngModel)]="obj.cidade"><br>
Complemento:<input type="text" [(ngModel)]="obj.complemento"><br>
Senha:<input type="password" [(ngModel)]="obj.senha"><br>
<button (click)="gravar()" type="button" class="btn btn-outline-warning text-custom">Gravar</button>