button {
    margin: 0 20px;
    align-items: right;
  }

input {
    border: solid 1px;
    margin: 0 20px;
    margin: 5px;  
    padding: 5px;
    align-items: right;
}

.text-custom {
    color: black;
  }

.cadastro {
  display: inline-table;
  text-align: center;
  width: 50%;
  margin-left:25%;
}

.cadMaster {
  display: grid;
  grid: auto / auto auto;
  grid-gap: 10px;
  padding: 10px;
  text-align: center;
}
