<br>

<div class="loginMaster">

    <div class="login">
        <h1>Já tem cadastro?</h1>
        <b>{{mensagem}}</b><br>
        E-mail: <br>
        <input type="email" [(ngModel)]="obj.email"><br>
        Senha: <br>
        <input type="password" [(ngModel)]="obj.senha"><br>
        <br>
        <br>
        <button (click)="fazerLogin()" type="button" class="btn btn-outline-warning text-custom">Entrar</button> <b><a href="javascript:void(0)" (click)="esqueciSenha()" color="red">Esqueci a senha</a></b>
    </div>

    <div class="cadastro">
        <h1>Ainda não tem cadastro?</h1>
        <br>
        <button (click)="novoCadastro()" type="button" class="btn btn-outline-warning text-custom">Cadastre-se aqui</button>
    </div>

</div>
