.busca-div {
  width: 40%;
  margin: 0 auto;
}

h3 {
  font-family: "Marko One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  padding: 40px 0 20px
}

p {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.btn-detalhe {
  border: 1px solid #800808;
  background-color: #800808;
  color: white;
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;
}

.no-produto {
  margin: 50px 0;
  text-align: center;
}
