section {
  margin-top: 50px;;
}

.carrinho-div {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 10px;
}

img {
  width: 65%;
}

h3, .carrinho-div {
  font-family: "Marko One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding: 40px 0 20px
}

p {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}

.total-carrinho {
  text-align: center;
}

@media (max-width: 420px)
 {
  .carrinho-div {
    width: 95%;
  }
 }
