@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.carousel-item img {
  height: 550px; /* Defina a altura fixa */
  object-fit: cover; /* Ajuste a imagem para cobrir o espaço sem distorção */
}

p {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.titulo {
  font-family: "Marko One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding: 40px 0 20px
}

section {
  width: 80%;
  margin: 0 auto;
}

.card {
  padding: 0 0 15px 0;
}

.card-div {
  display: flex;
  justify-content: space-between;
}

.card:hover {
  border: 2px solid black;
}

.card-img-top:hover {
  cursor: pointer;
}

.text-custom {
  color: black;
}

button {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 420px) {
  section {
    display: block;
  }

  .card-div {
    display: block;
  }

  .card {
    margin: 10px 0;
  }
}
