@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
}

h1, p {
  font-family: "Marko One", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-busca {
  border: 1px solid #800808;
  background-color: #800808;
  padding: 4.5px;
  margin-left: -4px;
  border-radius: 0 10px 10px 0;
  color: black;
}

.btn-busca:hover {
  border: 1px solid #BA110C;
  background-color: #BA110C;
}
