<section class="detalhe-div" *ngIf="item.id > 0">
  <div>
    <img src="./produto_{{item.id}}.jpg" class="detalhe-img" alt="..."><br>
  </div>

  <div class="detalhes-info">
    <h3 class="titulo">{{item.nome}}</h3>
    <br>
    <p>{{item.descritivo}}</p>
    <br>
    <br>
    <div class="detalhes-preco">
      <p style="font-weight: bold; font-size: 20px;">R$ {{item.valor}}</p>
      <button *ngIf="item.quantidade > 0" (click)="adicionarItem(item)" type="button" class="btn btn-outline-warning text-custom">Adicionar ao carrinho</button>
    </div>

    <div *ngIf="item.quantidade <= 0">Sem estoque</div>
  </div>
</section>
